<link rel="stylesheet" href="~/css/resetStyle.css">
<link rel="stylesheet" href="~/css/footer.css">
<link rel="stylesheet" href="~/css/news.css">


<div class="news_container">
    <div class="info-block">
        <p class="title">НОВОСТИ</p>
    </div>

    <div class="tags_block">
        <div class="news_tag">
            <input type="checkbox">
            HTML
            <button type="button" class="btn-close btn-sm" aria-label="Close"></button>
        </div>
        <div class="news_tag">
            <input type="checkbox">
            HTML
            <button type="button" class="btn-close btn-sm" aria-label="Close"></button>
        </div>
    </div>

    <div class="news_column">

        <div class="first_column column">
            <div class="news_block">
                <div class="icon_title">
                    <div class="icon"></div>
                    <p class="news_title">News Title 1</p>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>

            <div class="news_block">
                <div class="icon"></div>
                <p class="news_title">
                    News Title 3
                </p>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>

            <div class="news_block">
                <div class="icon"></div>
                <p class="news_title">
                    News Title 5
                </p>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>
        </div>

        <div class="second_column column">
            <div class="news_block">
                <div class="icon"></div>
                <p class="news_title">
                    News Title 2
                </p>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>

            <div class="news_block">
                <div class="icon"></div>
                <p class="news_title">
                    News Title 4
                </p>
                <div class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum corrupti, accusamus illo ipsum delectus libero assumenda quibusdam nemo dignissimos error, et vitae atque laborum perspiciatis labore dolores minus quia recusandae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>

            <div class="news_block">
                <div class="icon"></div>
                <p class="news_title">
                    News Title 6
                </p>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit. Vero praesentium itaque natus ratione, quis cum ut libero accusamus corporis, nihil sequi tempora placeat nisi, magnam obcaecati? Tempora, natus.
                </div>
            </div>
        </div>

    </div>

</div>

@*<footer class="footer">
    <div class="footer_line"></div>
</footer>*@
