@model Web2.Models.LoginModel

<h2>Вход на сайт</h2>


<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Введите логин</label><br>
            <input class="form-control-sm" type="text" asp-for="Login" /><br>
            <span class="badge badge-light" asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label><br>
            <input class="form-control-sm" asp-for="Password" /><br>
            <span class="badge badge-light" asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-light" />
            <a role="button" class="btn btn-light" asp-action="Register" asp-controller="Account">Регистрация</a>
        </div>
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}